* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --medgrey: #414141;
    --orange: #d99102;
    --yellow: #bb9f01;
    --green: #9fa701;
}

body {
    background-color: #fff;
    font-family: mulish, sans-serif;
    font-size: 20px;
    padding-bottom: 25px;
    color: var(--medgrey);
    overflow-y: scroll;
}

.calculator {
    width: 230px;
    max-width: 230px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.screen, .buttons {
    color: var(--medgrey);
    margin: 0 auto;
}

.screen p {
    margin: 0;
    padding: 0;
    margin-bottom: 15px;
    min-height: 50px;
    font-size: 35px;
    letter-spacing: 2px;
    font-weight: 300;
    width: 230px;
    max-width: 230px;
    text-align: right;
    overflow: hidden;
}

button {
    border-radius: 10px;
    width: 50px;
    height: 50px;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    border: 1px solid var(--medgrey);
    color: var(--medgrey);
    background: #fff;
    cursor: pointer;
}

button:hover, .back:hover, .clear:hover {
    transform: scale(1.05) rotate(2deg);
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
}

.operator {
    background: var(--yellow);
    border: 1px solid var(--yellow);
    color: white;
}

.equal {
    border: 1px solid var(--green);
    color: white;
    background: var(--green);
    width: 230px;
}

.clear {
    border: 1px solid var(--medgrey);
    background-color: var(--medgrey);
    color: white;
    font-size: 17px;
    letter-spacing: 2px;
}

.zero, .clear, .back {
    width: 110px;
}

.back {
    border: 1px solid var(--orange);
    background-color: var(--orange);
    color: white;
    font-size: 17px;
}

.row {
    margin-bottom: 15px;
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
}

.running {
    font-size: 15px;
    width: 220px;
    max-width: 220px;
    word-break: break-all;
}